@charset "UTF-8";
@font-face{
    font-family: belisa;
    src: url(fonts/belisa_plumilla.ttf);
}
@font-face{
    font-family: konstant;
    src: url(fonts/Konstanting\ Regular.ttf);
}
*{
    margin: 0px;
}
html {
    height: 100%;
    margin: 10px;
    scroll-behavior: smooth;
    overflow: hidden;
}
body{
    font-family: 'belisa', arial, sans-serif;
    background: url(imagens/personagensFundo.png) no-repeat right center fixed;
    background-size:cover;
    transform-style:flat;
    height: 100dvh;
    overflow: auto;
}
header{
    flex: none;
    text-align: center;
    margin: 20px 10px 50px 10px;
}
header  h1{
    font-family: 'konstant', arial, sans-serif;
    font-size: 6em;
    text-shadow: 0 0 7px white, 0 0 7px white, 0 0 7px white, 0 0 50px white;
}
header  h2{
    font-size: 1.8em;
    margin-bottom: 0px;
    font-family: 'belisa', arial, sans-serif;
    color: #F49F0A;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black; 
}
.mainContainer{
    border: 10px;
    min-height:100vh;
    display:flex; 
    flex-direction:column; 
    justify-content:space-between;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#conteudo{
    flex: 1 0 auto;
    gap: 30px;
}
.nolink > a{
    all: unset;
    cursor: pointer;
}
.opcoes{
    padding: 1px;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.219);
    min-width: 250px;
    text-align: center;
    background-image: linear-gradient(to left, #F49F0A, #eebf3d);
    border-radius: 15px;
    box-shadow: 5px 10px 5px black;
}
h2{
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 0px;
}
.opcoes > h3{
    font-size: 1.6em ;
    margin-top: 6px;
    margin-bottom: 10px;
}
footer{
    flex-wrap: nowrap;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 1px 1px 20px black, 1px 1px 20px black, 1px 1px 20px black;
}
/*.resultado{
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 10px;
    padding: 3px;
}

#dicaDoDia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    background-color: #eebf3d;
    min-height: 100px;
    width: 300px;
    
}
#dicaDoDia > h3 {
    font-size: 1.6em;
}
#dicaDoDia > p{
    font-size: 2em;
    padding: 10px;
}
input[type=text] {
    border: 5px solid black;
    border-radius: 20px;
    height: 30px;
    width: 200px;
    cursor: text;
    font-size: 1.5em;
}
input[type=submit]{
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    font-size: 1.6em;
    font-family: belisa;
    color: white;
    background-color: black;
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bloco{
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}
.blocoDicas {
    display: flex;
    width: 50px;
    height: 50px;
    background-color:lightgreen;
    border: 2px solid black;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}
.blocoDicas > img{
    width: 100%;
    height: 100%;
}
#item3, #item4, #item5{
    background-color: lightcoral;
}
#categorias > p{
    
}
.flex{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}*/
#secaoJogo{
    align-content: space-around;
    min-height: 500px;
    max-width: 250px;
    gap: 30px;
    padding: 20px;
}
#secaoDica h1{
    font-size: 1.8em;
    padding-top: 10px;
}
#secaoDica p{
    font-size: 2.3em;
    padding: 10px;
}
input[type=text] {
    border: 5px solid black;
    border-radius: 20px;
    height: 30px;
    width: 200px;
    cursor: text;
    font-size: 1.5em;
}
input[type=submit]{
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    font-size: 1.6em;
    font-family: belisa;
    color: white;
    background-color: black;
    cursor: pointer;
}
.bloco{
    margin: 1px;
    min-width: 60px;
    min-height: 60px;
    border: 3px solid black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.863);
}

.containerBloco{
    display: flex;
}
#secaoResposta{
    display: flex;
    flex: 1 0 auto;
    align-items: flex-end;
}
#cabecalhoResposta p{
    font-size: 1.5em;
    padding: 2px;
}
#cabecalhoResposta .bloco{
    background-image: linear-gradient(to left, #F49F0A, #eebf3d);
}
#blocoResposta img{
    height: 100%;
    width: 100%;
}
#blocoResposta .bloco{
    background-color: lightgreen;
}
/*const vh = window.innerHeight * 0.01;
document.documentElement.style.setProperty('--vh', `${vh}px`);
document.body.setAttribute(
  'style',
  `height: calc(var(--vh, 1vh) * 100);`
);*/